* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    color: white;
}

.header {
    width: 100%;
    height: 20%;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
}

.header-logo {
    width: 15%;
    height: 55px;
    /*background-color: brown;*/
}

.main-body {
    width: 100%;
    height: 80vh;
    background-color: yellow;
    display: flex;
    justify-content: center;
}



.main-left {
    background-color: red;
    width: 40%;
    display: flex;
    align-items: center;
}

.main-right {
    background-color: olivedrab;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnstyle {
    background-color: deepskyblue;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

    .btnstyle:hover {
        background-color: blue;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 22px;
        margin: 4px 2px;
        cursor: pointer;
    }

.footer {
    width: 100%;
    height: 10vh;
    /*background-color: lightpink;*/
    display: flex;
    justify-content: center;
}
